body {
  font-family: Lato, sans-serif;
  margin: 0;
}
.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

svg {
  width: 32px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

textarea {
  resize: none;
}

.form {
  &-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + .form-col {
      margin-top: 20px;
    }
    .form-element {
      width: 100%;
      &:not(&:first-child) {
        margin-top: 0px;
      }
      & + .form-element {
        margin-left: 20px;
        margin-top: 0;
      }
    }
  }
  &-element {
    display: flex;
    flex-direction: column;
    &:not(&:first-child) {
      margin-top: 20px;
    }
    & + .form-col {
      margin-top: 20px;
    }
  }
  &-label {
    font-family: roboto, sans-serif;
    font-size: 10px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: left;
    color: #66635d;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &-input {
    font-family: lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 14px 9px 17px 17px;
    border-radius: 3px;
    border: solid 2px #e6e3df;
    background-color: #ffffff;
    &:focus {
      outline: none;
    }
  }
}



@media only screen and (max-width: 768px) {
  .form {
    &-col {
      flex-direction: column;
      .form-element {
        &:not(&:first-child) {
          margin-top: 20px;
        }
        & + .form-element {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
}